h1 {
    font-family: 'Secular One', sans-serif;
    font-weight: 600;
    letter-spacing: 4px; /* Good attention to detail on the lettering */
    text-align: center;
    color: #F7DB41; /* Good color choice */
    padding: 10px 0px;
}

h2 {
    font-family: 'Secular One', sans-serif;
    font-weight: 600;
    margin: 10px;
    text-align: center;
    color: #012A60;
}

p {
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #012A60;
}


#header p {
    color: white;
    margin: -5px;
    padding: 0px 0px 20px 0px;
}
/* Typically you put id selectors at the bottom of the page */
body {
    background-image: url(city-edition-kevin-compressed.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: slategray;
    background-attachment: fixed;
} /* Great work making the background and positioning it! */
/* body should go at the top.  Then I'd put your other sections/divs/then your h1/h2/p then classes, then ids */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 10px 30px 0px 30px;
}

div {
    background-color: white;
}

.question {
    border: 5px solid #012A60;
    border-radius: 10px;
    width: 450px;
    margin: 10px;
    font-family: 'Secular One', sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: #012A60;
}

.correct {
    color: #F7DB41;
    font-family: 'Secular One', sans-serif;
    font-size: 22px;
    width: 200px;
    text-align: center;
}

#counter .correct {
    background: none;
}

.one, .two, .three, .four { /* Give all the buttons one common class to reduce the amount you are selecting */
    margin: 10px;
    max-width: 500px;
    width: 450px;
    flex-wrap: wrap; /* I dont think this is doing anything */
    border: 5px solid #012A60;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #012A60;
    padding: 15px;
}
/* There is a little bit of overlap styling of the question and the answer choices. You could give them one shared class to reduce the size of this file */
.one:focus, .two:focus, .three:focus, .four:focus {
    border: 5px solid #F7DB41;
    outline: none;
}

.submit {
    width: 150px;
    flex-wrap: wrap;
    border: 5px solid #6D000E;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #6D000E;
    color: white;
    padding: 10px;
}

.submit:focus {
    outline: none;
}

/* Nice job here on the CSS! */
/* Only thing I would really suggest is looking into media queries for smaller screen sizes */