h1 {
    /*font-family: 'Fira Sans', sans-serif;*/
    font-family: 'Secular One', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    text-align: center;
    color: #F7DB41;
    padding: 10px 0px;
    margin: 5px;
}


h2 {
    font-family: 'Secular One', sans-serif;
    font-weight: 600;
    margin: 10px;
    text-align: center;
    color: #012A60;
}

#submit {
    display: inline;
    justify-content: center;
    align-items: center;
    align-content: center;
}


p {
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #012A60;
}


header p {
    color: white;
    margin: -5px;
    padding: 0px 0px 40px 0px;
}

/*Lookup a fix for the header to stretch across, if not possible, Photoshop the header color block on the background image*/
header {
    background-color: #6D000E;
}

body {
    background-image: url(city-edition-kevin-compressed.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: slategray;
    background-attachment: fixed;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 50px;
}

.question {
    border: 5px solid #012A60;
    border-radius: 10px;
    max-width: 450px;
    margin: 10px;
    font-family: 'Secular One', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #012A60;
}

.one, .two, .three, .four {
    margin: 10px;
    max-width: 500px;
    width: 450px;
    flex-wrap: wrap;
    border: 5px solid #012A60;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #012A60;
    padding: 15px;
}

.one:focus, .two:focus, .three:focus, .four:focus {
    margin: 10px;
    max-width: 500px;
    width: 450px;
    flex-wrap: wrap;
    border: 5px solid #F7DB41;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #012A60;
    padding: 15px;
}

.correct {
        margin: 10px;
        max-width: 500px;
        width: 450px;
        flex-wrap: wrap;
        border: 5px solid green;
        border-radius: 10px;
        font-family: 'Roboto', sans-serif;
}

.incorrect {
    margin: 10px;
    max-width: 500px;
    width: 450px;
    flex-wrap: wrap;
    border: 5px solid red;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

div {
    background-color: white;
}